/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile-only {display: block;}
    lightning-datatable {display: none;}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobile-only {display: none;}
    lightning-datatable {display: block;}
}